p{
color:#D4D7FE;
font-size:30px;
padding-top: 20px;
}

button{
color: white;
background: red
}
center{
    
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    font-stretch: extra-expanded;
   padding-top: 20px;

}
.puzzle{
    color: peachpuff;
    margin-bottom : 2 rem;
}
.jumb{
    background-image: url('/img/forest\ bird\ never\ wants\ a\ cge..png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.reset{
    background-color: cadetblue;
    border: 2px solid black;
    border-radius: 20rem;
    font-size: 40px;
    padding: 10px;
    color: black;
}
.b{
    color:black;
    /* padding-top: 40px; */
}
.reset:hover {
  background: #aa4b6b;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
input{
    margin-left:-200px;
}
html,
body {
  width: auto !important;
  overflow-x: hidden !important;

}